/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Exo&family=Freckle+Face&family=Source+Sans+Pro&display=swap');

.markdown-preview.markdown-preview {
    // please write your custom style here
    // eg:
    //  color: blue;          // change font color
    //  font-size: 14px;      // change font size
    // custom pdf output style


    titre, h1 {
        display: block;
        font-family: "Freckle Face", sans-serif;
        font-size: 2em;
        text-align: center;
        border: 2px solid black;
        box-shadow: 5px 5px 5px rgb(60, 60, 60);
        border-radius: 7px;
      }

      h2 {
        // color: rgb(8, 87, 135);
        width: 100%;
        border-bottom: 2px solid black;
      }

      h3 {
        font-size:0.9em;
        display: inline-block;
        border: 2px solid black;
        padding: 0.3em;
        box-shadow: 5px 5px 5px black;
        border-radius: 7px;
        margin-bottom: 0.5em;
        margin-top: -1em;
      }

    // .admonition.example {
    //     background-color:red;
    // }

    .toto {
        color: red;
    }

    red, .red {
        color: red;
    }

    green, .green {
        color: green;
    }

    blue, .blue {
        color: blue;
    }

    ul {
      overflow: hidden;
      text-align:left;
    }

    ul li {
    }

    enc {
      display: inline-block;
      border: 2px solid black;
      padding: 0.3em;
      box-shadow: 5px 5px 5px black;
      border-radius: 7px;
      margin-bottom: 0.5em;
    }

    env {
      display: inline-block;
      background-color: #ccc;
      border: 2px solid black;
      padding: 0.3em;
      box-shadow: 5px 5px 5px black;
      border-radius: 7px;
      margin-bottom: 0.5em;
      margin-right: 0.3em;
    }

    right, .right {
      display: inline-block;
      // border: 2px solid black;
      margin-left:50%;
      text-align: right;
    }

    @media print {
      
      newpage {
        display: block;
        page-break-before: always;
      }
    
    }
    // custom prince pdf export style
    &.prince {
    }
    // custom presentation style
    .reveal .slides {
      // modify all slides
    }
    .slides > section:nth-child(1) {
      // this will modify `the first slide`
    }

}
  .md-sidebar-toc.md-sidebar-toc {
    // sidebar TOC style
  }
